 body {
	    	background-color: #f4f4f4;
	    }
		#swiper_main {
			width: 100%;
			height: 100%;
		}
		@font-face {
			font-family: 'iconfont';
			src: url('mainiconfont/iconfont.eot');
			src: url('mainiconfont/iconfont.eot?#iefix') format('embedded-opentype'),
			url('mainiconfont/iconfont.woff') format('woff'),
			url('mainiconfont/iconfont.ttf') format('truetype'),
			url('mainiconfont/iconfont.svg#iconfont') format('svg');
		}
		.iconfont{
			font-family:"iconfont" !important;
			font-size:16px;font-style:normal;
			-webkit-font-smoothing: antialiased;
			-webkit-text-stroke-width: 0.2px;
			-moz-osx-font-smoothing: grayscale;
		}
		.search-header {
			width: 100%;
			height: 40px;
			position: relative;
			background-color: #2c2c2c;
			color: #8a8a8a;
		}
		.search-left {
			position: absolute;
			left: 16px;
			top: 11px;
		}
		.search-text {
			position: absolute;
			left: 46px;
			top: 8px;
		}
		.search-box {
			position: absolute;
			right: 16px;
			top: 11px;
		}

		#best_book_wrapper img {
			width: 100%;
		}
		#swiper_best {
			width: 100%;
			height: 152px;
		}
		.best-category {
			position: relative;
			background-color: #fff;
			width: 100%;
			height: 50px;
			margin: 6px 0;
		}
		.best-category a {
			color: #747474;
			font-size: 12px;
		}
		.cate {
			display: inline-block;
			margin: 8px 20px;
		}
		#boy{
			color: #4598f9;
		}
		#boy a{
			position: absolute;
			top: 26px;
			left: 16px;
		}
		#girl{
			color: #ff6d0d;
		}
		#girl a{
			position: absolute;
			top: 26px;
			left: 76px;
		}
		#publish{
			color: #ff8d00;
		}
		#publish a{
			position: absolute;
			top: 26px;
			left: 136px;
		}
		#cartoon{
			color: #58bffa;
		}
		#cartoon a{
			position: absolute;
			top: 26px;
			left: 196px;
		}
		#free{
			color: #5ac1f9;
		}
		#free a{
			position: absolute;
			top: 26px;
			left: 256px;
		}
		#more{
			color: #5dbbd4;
		}
		#more a{
			position: absolute;
			top: 26px;
			left: 318px;
		}
		.topic-container {
			background-color: #fff;
			width: 100%;
		}
		.topic-top {
			width: 94%;
			margin: 0 3%;
			padding: 10px 0;
			border-bottom: 2px solid #eee;
		}
		.top-title {
			color: #af7326;
			font-size: 18px;
			font-weight: bold;
			text-align: center;

		}
		.top-detail {
			color: #9e9e9e;
			font-size: 12px;
			text-align: center;
		}
		.topic {
			width: 94%;
			margin: 0 3%;
			height: 28px;
			padding: 10px 0;
			
		}
		.topic-name {
			color: #000;
			font-size: 18px;
			font-weight: bold;
			float: left;
		}
		.topic-desc {
			color: #9e9e9e;
			float: right;
		}
		.book-face img {
			width: 28%;
		}
		.book-container {
			width: 94%;
			margin: 0 3%;
		}
		.every-book{
			position: relative;
			margin-right: 5%;
		}
		.every-book:nth-child(3n) {
			margin-right: 0;
		}
		.book-title {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 20px;
			width: 90px;
			color: gray;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;/*超出部分变省略号*/
		}
		.topic-list {
			height: 210px;
		}
		.footer {
	    	position: fixed;
	    	width: 100%;
	    	height: 10%;
	    	top: 90%;
	    	left: 0%;
	    	z-index: 10;
	    	background-color: #fff;
	    	color: gray;
	    }
	    .footer a {
	    	font-size: 12px;
	    }
	    #select a {
	    	position: absolute;
	    	left: 30px;
            top: 30px;
	    }
	    #classify a {
	    	position: absolute;
	    	left: 122px;
            top: 30px;
	    }
	    #rank a {
	    	position: absolute;
	    	left: 214px;
            top: 30px;
	    }
	    #circle a {
	    	position: absolute;
	    	left: 304px;
            top: 30px;
	    }
	    .general-cate {
	    	display: inline-block;
	    	margin: 12px 35px;
	    }
	    /*category start*/
        table {
            width: 100%;
            background-color: #fff;
        }
        tr {
            width: 100%;
        }
        td {
            border: 1px solid #f3f3f3;
            border-top: none; 
            width: 32%;
            padding: 10px;

        }
        td:nth-child(3n) {
            border-right: none;
        }
        td:nth-child(3n+1) {
            border-left: none;
        }
        .category-name {
            color: #999;/*缩写形式*/
            padding: 10px;
            font-size: 14px;
        }
        td a {
            display: inline-block;
            font-size: 8px;
            -webkit-transform: scale(0.8);
            color: #fff;
            background-color: red;
            padding: 0 3px 2px 3px;
            margin-left: 10px;
        }
        /*category end*/
        /*rank start*/
        
        /*rank end*/